---
import AnimatedBackground from "../components/AnimatedBackground.astro";
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
import Header from "../components/Header.astro";
import SidebarNav from "../components/SidebarNav.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <AnimatedBackground />
  <main
    class="2xl:max-w-screen-2xl xl:max-w-screen-xl lg:max-w-screen-lg md:sm:max-w-screen-md sm:max-w-screen-sm w-full mx-20 px-10 py-5 flex gap-6 justify-between relative h-fit"
  >
    <!-- Aqui va los enlaces en la barra de navegacion lateral -->
    <SidebarNav />
    <div
      class="py-8 px-4 mt-28 z-10 w-full rounded-3xl shadow-lg h-fit bg-white"
    >
      <!-- Aqui va información basica y presentación -->
      <Header />

      <!-- Aqui va conocimiento, portfolio y experiencias -->
      <Experience />

      <!-- Aqui va el formulario e información de contacto -->
      <Contact />
    </div>
  </main>
</Layout>
