<header class="py-4 flex flex-col gap-3 bg-white/5 p-5" id="inicio">
  <div
    class="flex mobile-sm:hidden mobile-sm:gap-8 sm:items-center mobile-sm:flex-col mobile-sm:justify-center sm:justify-end mb-3"
  >
    <span
      class="bg-white border text-center w-fit lg:self-end border-gray-500 text-gray-800 text-sm font-medium me-2 px-3 py-1 rounded"
      >Diseñador Grafico</span
    >

    <span
      class="bg-white border text-center w-fit lg:self-end border-gray-500 text-gray-800 text-sm font-medium me-2 px-3 py-1 rounded"
      >Desarrollador Web</span
    >

    <span
      class="bg-white border text-center w-fit lg:self-end border-gray-500 text-gray-800 text-sm font-medium me-2 px-3 py-1 rounded"
      >Universitario</span
    >
  </div>

  <div
    class="flex 2xl:flex-row mt-4 lg:flex-col mobile-sm:flex-col lg:mb-10 mobile-sm:mb-10 2xl:mb-0 mobile-sm:items-center lg:items-center 2xl:items-center"
  >
    <img
      src="/david-working.jpeg"
      class="sm:max-w-[300px] mobile-sm:w-full object-cover shadow-[0px_0px_13px_-6px_#000] aspect-square rounded-full"
      alt=""
    />

    <main
      class="flex flex-col gap-4 mt-4 sm:mt-0 items-center h-[100px] w-full"
    >
      <h1
        class="lg:text-5xl flex 2xl:text-7xl text-3xl text-blue-400 font-bold text-pretty"
      >
        <span class="2xl:text-left lg:text-center 2xl:block lg:hidden" id="hand"
          >👋</span
        >
        David Cardozo.
      </h1>
      <p class="text-pretty text-lg text-center">
        <strong>¡Hola!</strong> Mi nombre es <code class="text-blue-400"
          ><strong>David</strong></code
        >
        soy
        <span id="typed-1" class="underline"></span>
      </p>
      <div class="flex gap-3 mt-5">
        <span
          class="bg-green-200 border w-fit self-center border-green-500 float-end text-green-800 text-sm font-medium me-2 px-3 py-1 rounded"
          >Disponible</span
        >
        <a
          href=""
          class="bg-blue-200 hover:scale-105 transition border w-fit self-center border-blue-500 float-end text-blue-800 text-sm font-medium me-2 px-3 py-1 rounded"
          >Curriculum 📎</a
        >
      </div>
    </main>
  </div>

  <section class="p-6 2xl:mt-4 mobile-sm:mt-10 lg:mt-10 w-full">
    <h3
      class="text-3xl mb-3 font-bold 2xl:text-start lg:text-center mobile-sm:text-center"
    >
      Un poco de mi...
    </h3>
    <p
      class="text-pretty text-lg lg:text-center mobile-sm:text-center 2xl:text-start"
    >
      Apasionado del código, el diseño y la tecnología. Siempre estoy en busca
      de aprender algo nuevo y me esfuerzo al máximo para ofrecer lo mejor en
      cada proyecto. No hay nada que me motive más que ver la alegría y
      satisfacción de mis clientes al entregar un resultado que supera sus
      expectativas. ¡Hagamos realidad tus ideas juntos!
    </p>
  </section>
</header>

<script>
  import Typed from "typed.js";
  const typed1 = new Typed("#typed-1", {
    strings: [
      "<strong><span>Diseñador!<i></strong></span>",
      "<strong><span>Desarrollador!<i></strong></span>",
      "<strong><span>El socio que necesitas!<i></strong></span>",
    ],

    typeSpeed: 30,
    loop: true,
    smartBackspace: true, // this is a default
  });
</script>

<style>
  #hand {
    animation: greeting 1s linear 0.2s infinite both;
    animation-fill-mode: both;
  }

  @keyframes greeting {
    0% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(35deg);
    }
    75% {
      transform: rotate(24deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
</style>
