---
const { link } = Astro.props;
---

<a
  class="p-3 bg-black/10 border-2 border-white/10 hover:bg-white/15 shadow-lg transition rounded-lg"
  href={link}
>
  <div class="w-10 h-10">
    <slot />
  </div>
</a>
