---
import BootstrapLogo from "./logos/BootstrapLogo.astro";
import CssLogo from "./logos/CssLogo.astro";
import HtmlLogo from "./logos/HtmlLogo.astro";
import JavascriptLogo from "./logos/JavascriptLogo.astro";
import PhotoshopLogo from "./logos/PhotoshopLogo.astro";
import ReactLogo from "./logos/ReactLogo.astro";

const Techs = [
  {
    tech: "Bootstrap",
    Svg: BootstrapLogo,
  },
  {
    tech: "React",
    Svg: ReactLogo,
  },
  {
    tech: "Photoshop",
    Svg: PhotoshopLogo,
  },
  {
    tech: "HTML",
    Svg: HtmlLogo,
  },
  {
    tech: "CSS",
    Svg: CssLogo,
  },
  {
    tech: "JavaScript",
    Svg: JavascriptLogo,
  },
];
---

<div
  class="relative overflow-hidden [mask-image:linear-gradient(to_right,transparent,white_20%,white_80%,transparent)] mx-auto [&_pre]:h-[calc(100%-48px)]"
>
  <div class="glide grid">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides flex mobile-sm:gap-10 py-8">
        {
          Techs.map(({ tech, Svg }) => (
            <li class="glide__slide transition-[scale] duration-500">
              <div class="size-16 aspect-square">{<Svg />}</div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>

<script>
  import Glide from "@glidejs/glide";

  new Glide(".glide", {
    type: "carousel",
    perView: 5,
    focusAt: 3,
    autoplay: 1,
    animationDuration: 3000,
  }).mount();
</script>
