---
import BootstrapLogo from "./logos/BootstrapLogo.astro";
import CssLogo from "./logos/CssLogo.astro";
import HtmlLogo from "./logos/HtmlLogo.astro";
import JavascriptLogo from "./logos/JavascriptLogo.astro";
import PhotoshopLogo from "./logos/PhotoshopLogo.astro";
import ReactLogo from "./logos/ReactLogo.astro";
---

<div
  class="relative overflow-hidden [mask-image:linear-gradient(to_right,transparent,white_20%,white_80%,transparent)] mx-auto [&_pre]:h-[calc(100%-48px)]"
>
  <div class="glide grid overflow-x-hidden">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides py-8">
        <li
          class="flex relative glide__slide w-full justify-evenly items-start"
        >
          <div class="size-16">
            <BootstrapLogo />
          </div>
        </li>
        <li
          class="flex relative glide__slide w-full justify-evenly items-start"
        >
          <div class="size-16">
            <CssLogo />
          </div>
        </li>
        <li
          class="flex relative glide__slide w-full justify-evenly items-start"
        >
          <div class="size-16">
            <HtmlLogo />
          </div>
        </li>
        <li
          class="flex relative glide__slide w-full justify-evenly items-start"
        >
          <div class="size-16">
            <JavascriptLogo />
          </div>
        </li>
        <li
          class="flex relative glide__slide w-full justify-evenly items-start"
        >
          <div class="size-16">
            <PhotoshopLogo />
          </div>
        </li>
        <li
          class="flex relative glide__slide w-full justify-evenly items-start"
        >
          <div class="size-16">
            <ReactLogo />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  import Glide from "@glidejs/glide";

  new Glide(".glide", {
    type: "carousel",
    perView: 5,
    focusAt: "center",
    autoplay: true,
    animationDuration: 3000,
  }).mount();
</script>

<style>
  .glide__slide--active {
    scale: 115%;
    transition: 400ms ease-in-out;
  }
</style>
